<footer class="page-footer" style="background-color: black">

    <div class="footer-copyright">
        <div class="container" style="color: goldenrod">
            © 2017 Copyright MyEquitee
            <a class=" text-lighten-4 right" href="#"><i class="fa fa-facebook" aria-hidden="true" style="color: white"></i></a>
            <a class=" text-lighten-4 right" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class=" text-lighten-4 right" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>

        </div>
    </div>
</footer>
</body>
</html>