<% include partials/header.ejs%>


<h2>ABOUT</h2>
<div id="people">
    <div class="row">
        <div class="col s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. alesuada lectus facilisis et. Suspendisse potenti. Proin non purus a orci condimentum suscipit non ut sapien. Donec eros sapien, tristique sed interdum id, consectetur viverra purus.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s6">

            <div class="card horizontal">
                <div class="card-image" >
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. alesuada lectus facilisis et. Suspendisse potenti. Proin non purus a orci condimentum suscipit non ut sapien. Donec eros sapien, tristique sed interdum id, consectetur viverra purus.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s6">

            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. alesuada lectus facilisis et. Suspendisse potenti. Proin non purus a orci condimentum suscipit non ut sapien. Donec eros sapien, tristique sed interdum id, consectetur viverra purus.

                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s6">

            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. alesuada lectus facilisis et. Suspendisse potenti. Proin non purus a orci condimentum suscipit non ut sapien. Donec eros sapien, tristique sed interdum id, consectetur viverra purus.

                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<% include partials/footer.ejs%>